/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Specific styles */

/* Styles for the Sections*/
.section {
    text-align: center;
}

/*Sytle for the titles and text*/
.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.title.main {
    font-size: 4rem;
    margin-bottom: 40px;
}

.text {
    font-size: 1.4rem;
    color: #666;
    padding: 0 100px;
    margin-bottom: 20px;
}

.text.main {
    font-size: 2rem;
    padding: 0 200px;
    margin-bottom: 40px;
}

/* Styles for the section header */
.header {
    text-align: center;
    top: 0;
}

/* Styles for round buttons */
.round-button {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border: none;
    border-radius: 50%; /* Makes it round */
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.round-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

/* Styles for stadium buttons */
.stadium-button {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border: none;
    border-radius: 20px; /* Creates the rounded ends */
    padding: 10px 20px; /* control the size of the button */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
    text-align: center;
    display: inline-block; /* Allows the buttons to be aligned inline */
    margin: 10px; /* Spacing between buttons */
}

.stadium-button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Lightens the button on hover */
    transform: translateY(-2px); /* Slight raise effect on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stadium-button:active {
    background-color: rgba(122, 122, 122, 0.5); /* Darker color when button is pressed */
}

.stadium-button.clicked {
    background-color: rgba(122, 122, 122, 0.5); /* Darker color when button is clicked */
    transform: translateY(1px);
}

/* Styles for content area */
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.image-box {
    width: 90%;
    height: 40%;
    background-color: #2e2e2e; /* Placeholder for the image */
    text-align: center;
    padding: 40px;
    margin-right: 40px;
    margin-left: 40px;

}

/* Style adjustments for the map image */
#event_map.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styles for the logo */
#logo {
    width: 200px;
    height: auto;
    animation: floatAnimation 2s ease-in-out infinite alternate;
}

#visualization {
    width: 100%;
    height: 600px; /* Adjust the height as needed */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/* Animation for the logo */
@keyframes floatAnimation {
    0% {
      transform: translateX(-3px) translateY(-3px); /* Initial position */
    }
    100% {
      transform: translateX(3px) translateY(3px); /* Final position */
    }
}