/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global styles */
body {
    font-size: 1rem;
    line-height: 1.6;
    color: #e4e4e4;
    margin: 0;
    padding: 0;
}

/* Styles for the Sections in FullPageJS*/
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

/*Sytle for the titles and text*/
.title {
    font-family: 'Arial', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 40px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.title.main {
    font-size: 4rem;
    margin-bottom: 40px;
}

.text {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 0 100px;
    margin-bottom: 20px;
}

.text.main {
    font-size: 2rem;
    padding: 0 200px;
    margin-bottom: 40px;
}

.slide {
    display: flex;
    align-items: center; /* Aligns items vertically at the center */
    justify-content: space-between; /* Spreads content to occupy the entire horizontal space */
    padding: 20px; 
}

.text-container {
    width: 40%; /* Adjust based on preference and the amount of text */
    padding-right: 20px; /* Adds some space between the text and the visualization */
}

.visualization-container {
    width: 60%; /* Adjust so the total width sums up to 100% with the text container */
    display: flex;
    justify-content: center; /* Center visualization horizontally */
    align-items: center; /* Center visualization vertically */
}


/* Styles for the logo */
#logo {
    width: 200px;
    height: auto;
    animation: floatAnimation 2s ease-in-out infinite alternate;
}

/* Animation for the logo */
@keyframes floatAnimation {
    0% {
      transform: translateX(-3px) translateY(-3px); /* Initial position */
    }
    100% {
      transform: translateX(3px) translateY(3px); /* Final position */
    }
}