/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #e4e4e4;
    margin: 0;
    padding: 0;
}

/* Specific styles */

/* Styles for the Sections*/
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

/*Sytle for the titles and text*/
.title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.title.main {
    font-size: 4rem;
    margin-bottom: 40px;
}

.text {
    font-size: 1.4rem;
    color: #ffffff;
    padding: 0 100px;
    margin-bottom: 20px;
}

.text.main {
    font-size: 2rem;
    padding: 0 200px;
    margin-bottom: 40px;
}

/* Styles for the section header */
.header {
    text-align: center;
    top: 0;
}

/* Styles for round buttons */
.round-button {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border: none;
    border-radius: 50%; /* Makes it round */
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
}

.round-button:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

/* Styles for stadium buttons */
.stadium-button {
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border: none;
    border-radius: 20px; /* Creates the rounded ends */
    padding: 10px 20px; /* control the size of the button */
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
    color: #000;
    text-align: center;
    display: inline-block; /* Allows the buttons to be aligned inline */
    margin: 10px; /* Spacing between buttons */
}

.stadium-button:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Lightens the button on hover */
    transform: translateY(-2px); /* Slight raise effect on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.stadium-button:active {
    background-color: rgba(122, 122, 122, 0.5); /* Darker color when button is pressed */
}

.stadium-button.clicked {
    background-color: rgba(122, 122, 122, 0.5); /* Darker color when button is clicked */
    transform: translateY(1px);
}

/* Styles for content area */
.content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Style adjustments for the map image */
#event_map.section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styles for the logo */
#logo {
    width: 200px;
    height: auto;
    animation: floatAnimation 2s ease-in-out infinite alternate;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Ensures that children stretch to fill the parent's height */
    width: 90%; /* Adjust as necessary */
    height: auto; /* Set the height of the content area */
}

.image-box {
    flex: 3; /* Adjust based on desired width */
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    padding: 15px;
    margin-right: 20px; /* Space between the globe and the sidebar */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.sidebar {
    flex: 1; /* Adjust based on desired width */
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto; /* Allows scrolling within the panel */
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 500px; /* Ensures the sidebar takes up the full width */
}

#checkboxes, #infoPanel {
    margin-bottom: 20px; /* Spacing between sections */
}

#controls {
    margin-bottom: 5px; /* Slightly less spacing between the controls and the bottom of the sidepanel*/
}

#checkboxes h2, #infoPanel h2, #controls h2 {
    margin-bottom: 10px; /* Spacing below each title */
    text-align: center;
}

#infoPanel {
    flex-grow: 1;
    overflow-y: auto; /* In case content is longer than the container */
    text-align: left;
}

#infoPanel, #controls, #checkboxes {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.15); /* Slightly opaque background for better readability */
    border-radius: 3px; /* Rounded corners for the panels */
}

#controls input[type="range"], #controls p {
    text-align: center; /* Center the contents of the controls */
    width: 100%; /* Full width for easier interaction */
}

/* Animation for the logo */
@keyframes floatAnimation {
    0% {
      transform: translateX(-3px) translateY(-3px); /* Initial position */
    }
    100% {
      transform: translateX(3px) translateY(3px); /* Final position */
    }
}